Repository PrinceMax-pro/backend.ai, changes with the labels that .github/labeler.yml gives for each.
All labels: require:db-migration, area:docs, storage-proxy, agent, manager, common, client, cli, webserver, webui, installer

.github/labeler.yml:

require:db-migration:
- any: ['src/ai/backend/manager/alembic/versions/*.py']

area:docs:
- any: [
    'docs/**/*',
    'src/ai/backend/manager/api/**/*.py',
    'src/ai/backend/manager/models/gql.py',
  ]

storage-proxy:
- any: ['src/ai/backend/storage/**/*.py']

agent:
- any: [
    'src/ai/backend/agent/**/*.py',
    'src/ai/backend/kernel/**/*.py',
    'src/ai/backend/runner/**/*.py',
    'src/ai/backend/helpers/**/*.py',
  ]

manager:
- any: ['src/ai/backend/manager/**/*.py']

common:
- any: [
    'src/ai/backend/common/**/*.py',
    'src/ai/backend/plugin/**/*.py',
  ]

client:
- any: [
    'src/ai/backend/client/**/*.py',
  ]

cli:
- any: [
    'src/ai/backend/cli/**/*.py',
    'src/ai/backend/client/cli/**/*.py',
    'src/ai/backend/manager/cli/**/*.py',
    'src/ai/backend/agent/cli/**/*.py',
  ]

webserver:
- any: [
    'src/ai/backend/web/**/*.py',
  ]

webui:
- any: [
    'src/ai/backend/web/static',
  ]

installer:
- any: [
    'scripts/install-dev.sh',
    'scripts/delete-dev.sh',
    'tools/pants-plugins/**/*',
  ]

Add local config
  src/ai/backend/manager/BUILD
  src/ai/backend/manager/config/BUILD
  src/ai/backend/manager/config/local.py
  src/ai/backend/manager/config/shared.py
Labels: manager

Add redis config
  src/ai/backend/manager/config/shared.py
  src/ai/backend/manager/config/volume.py
Labels: manager

fix: Refactoring using `ImageAccessCriteria`
  src/ai/backend/manager/models/image.py
Labels: manager

fix: Improve comment
  src/ai/backend/manager/models/image.py
Labels: manager

Add local config method
  src/ai/backend/manager/config/local.py
  src/ai/backend/manager/config/shared.py
Labels: manager

Add changelog
  changes/3994.enhance.md
Labels: none

feat: Make `images.resources` column non volatile
  src/ai/backend/manager/container_registry/base.py
Labels: manager

docs: Add news fragment
  changes/3986.feature.md
Labels: none

feat: Update `images.resources` only when labels updated from registry
  src/ai/backend/manager/container_registry/base.py
Labels: manager

fix: Make the `ImageRow.resources` only for user-customized
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
Labels: manager

chore: update api schema dump
  docs/manager/graphql-reference/schema.graphql
Labels: none

docs: Update news fragment
  changes/3986.feature.md
Labels: none

fix: Reflect feedbacks
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/dto/agent/response.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/registry.py
Labels: manager

chore: update api schema dump
  docs/manager/graphql-reference/schema.graphql
Labels: none

docs: Rename news fragment
  changes/3987.feature.md
Labels: none

fix: Reflect feedbacsk
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
Labels: manager

fix: Wrong return type
  src/ai/backend/manager/models/gql_models/image.py
Labels: manager

fix: Add type hints
  src/ai/backend/manager/cli/image.py
  src/ai/backend/manager/cli/image_impl.py
Labels: manager

fix: wip
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/alembic/versions/ae15edaeedda_add_auditlog_table.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/audit_log.py
Labels: manager

chore: update api schema dump
  docs/manager/graphql-reference/schema.graphql
Labels: none

docs: Add news fragment
  changes/4001.feature.md
Labels: none

fix: Wrong schema
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql_models/audit_log.py
Labels: manager

fix: Variable name
  src/ai/backend/manager/models/gql_models/audit_log.py
Labels: manager

fix: Use `AuditLogEntityTypeGQLEnum`
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql_models/audit_log.py
Labels: manager

fix: Use String type as `operation`
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql_models/audit_log.py
Labels: manager

fix: Add `AuditLogSchema` type
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/audit_log.py
Labels: manager

fix: Reflect feedbacks
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
Labels: manager

fix: Reflect feedback
  src/ai/backend/manager/models/image.py
Labels: manager

fix: Reflect feedbacks
  src/ai/backend/agent/agent.py
  src/ai/backend/manager/registry.py
Labels: manager

fix: Reflect feedbacks
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql_models/image.py
Labels: manager

fix: Add type hints
  src/ai/backend/client/cli/image.py
Labels: client

fix: Add `fields` to `purge_image_by_id`
  src/ai/backend/client/func/image.py
Labels: client

fix: Don't unpack arguments
  src/ai/backend/agent/docker/agent.py
Labels: none

fix: Rename type
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/dto/agent/response.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/registry.py
Labels: manager

refactor: Group action WIP
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/services/BUILD
  src/ai/backend/manager/services/__init__.py
  src/ai/backend/manager/services/groups/BUILD
  src/ai/backend/manager/services/groups/__init__.py
  src/ai/backend/manager/services/groups/actions/BUILD
  src/ai/backend/manager/services/groups/actions/create_group.py
  src/ai/backend/manager/services/groups/actions/delete_group.py
  src/ai/backend/manager/services/groups/actions/modify_group.py
  src/ai/backend/manager/services/groups/actions/purge_group.py
  src/ai/backend/manager/services/groups/base.py
  src/ai/backend/manager/services/groups/processors.py
  src/ai/backend/manager/services/groups/service.py
  src/ai/backend/manager/services/processors.py
Labels: manager

fix: Add skeleton files
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/actions/processor.py
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/BUILD
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/services/resource/BUILD
  src/ai/backend/manager/services/resource/actions/BUILD
  src/ai/backend/manager/services/resource/actions/__init__.py
  src/ai/backend/manager/services/resource/actions/admin_month_stats.py
  src/ai/backend/manager/services/resource/actions/check_presets.py
  src/ai/backend/manager/services/resource/actions/get_container_registries.py
  src/ai/backend/manager/services/resource/actions/get_watcher_status.py
  src/ai/backend/manager/services/resource/actions/list_presets.py
  src/ai/backend/manager/services/resource/actions/recalculate_usage.py
  src/ai/backend/manager/services/resource/actions/usage_per_month.py
  src/ai/backend/manager/services/resource/actions/usage_per_period.py
  src/ai/backend/manager/services/resource/actions/user_month_stats.py
  src/ai/backend/manager/services/resource/actions/watcher_agent_restart.py
  src/ai/backend/manager/services/resource/actions/watcher_agent_start.py
  src/ai/backend/manager/services/resource/actions/watcher_agent_stop.py
  src/ai/backend/manager/services/resource/base.py
  src/ai/backend/manager/services/resource/processors.py
  src/ai/backend/manager/services/resource/service.py
  tests/manager/services/BUILD
  tests/manager/services/__init__.py
  tests/manager/services/conftest.py
Labels: manager

fix: Reflect feedbacks
  src/ai/backend/manager/actions/processor.py
  src/ai/backend/manager/services/resource/actions/admin_month_stats.py
  src/ai/backend/manager/services/resource/actions/check_presets.py
  src/ai/backend/manager/services/resource/actions/get_watcher_status.py
  src/ai/backend/manager/services/resource/actions/list_presets.py
  src/ai/backend/manager/services/resource/actions/recalculate_usage.py
  src/ai/backend/manager/services/resource/actions/usage_per_month.py
  src/ai/backend/manager/services/resource/actions/usage_per_period.py
  src/ai/backend/manager/services/resource/actions/user_month_stats.py
  src/ai/backend/manager/services/resource/actions/watcher_agent_restart.py
  src/ai/backend/manager/services/resource/actions/watcher_agent_start.py
  src/ai/backend/manager/services/resource/actions/watcher_agent_stop.py
  src/ai/backend/manager/services/resource/base.py
Labels: manager

fix: Add `get_container_registries`
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/services/resource/actions/get_container_registries.py
  src/ai/backend/manager/services/resource/processors.py
  src/ai/backend/manager/services/resource/service.py
Labels: manager

fix: Add `user_month_stats`, `admin_month_stats`
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/services/resource/actions/admin_month_stats.py
  src/ai/backend/manager/services/resource/actions/user_month_stats.py
  src/ai/backend/manager/services/resource/processors.py
  src/ai/backend/manager/services/resource/service.py
Labels: manager

fix: Add `list_presets`
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/services/resource/actions/list_presets.py
  src/ai/backend/manager/services/resource/processors.py
  src/ai/backend/manager/services/resource/service.py
Labels: manager
