Repository PrinceMax-pro/backend.ai, changes with the labels that .github/labeler.yml gives for each.
All labels: require:db-migration, area:docs, storage-proxy, agent, manager, common, client, cli, webserver, webui, installer

fix: Customized image visibility issue
  src/ai/backend/manager/models/image.py
Labels: manager

fix: Load image labels in domain_scope query
  src/ai/backend/manager/models/image.py
Labels: manager

docs: Add news fragment
  changes/3939.fix.md
Labels: none

fix: Reflect feedback
  src/ai/backend/manager/models/image.py
Labels: manager

fix: Admin can query all users' custom images
  src/ai/backend/manager/models/image.py
Labels: manager

fix: Clear redis image cache when purging docker images
  src/ai/backend/manager/models/gql_models/image.py
Labels: manager

misc: Rename variable
  src/ai/backend/manager/registry.py
Labels: manager

docs: Add news fragment
  changes/3923.fix.md
Labels: none

docs: Rename docs fragment
  changes/3923.fix.md
Labels: none

fix: Remove old image cache
  src/ai/backend/manager/registry.py
Labels: manager

misc: Remove useless comment
  src/ai/backend/manager/registry.py
Labels: manager

fix: Change to Event based structure
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/registry.py
Labels: manager

fix: Remove confusing cache delete
  src/ai/backend/manager/models/gql_models/image.py
Labels: manager

fix: Remove unused timer
  src/ai/backend/agent/docker/agent.py
Labels: none

misc: Rename variable
  src/ai/backend/manager/registry.py
Labels: manager

fix: Use type alias
  src/ai/backend/agent/agent.py
Labels: none

fix: Use type alias
  src/ai/backend/agent/agent.py
Labels: none

fix: Rename event name
  src/ai/backend/agent/agent.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/registry.py
Labels: manager

docs: Rename news fragmnet
  changes/3923.fix.md
Labels: none

docs: Rename news fragmnet
  changes/3923.fix.md
Labels: none

fix: Use `UserDict`
  src/ai/backend/agent/agent.py
Labels: none

fix: Use `UserDict`
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
Labels: none

fix: Rename function
  src/ai/backend/manager/registry.py
Labels: manager

fix: Improve readability
  src/ai/backend/manager/models/image.py
Labels: manager

fix: Use `ImageRow.is_customized_by()`
  src/ai/backend/manager/models/image.py
Labels: manager

feat: wip
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/dto/manager/rpc_request.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/registry.py
Labels: manager

chore: update api schema dump
  docs/manager/graphql-reference/schema.graphql
Labels: none

docs: Add news fragment
  changes/3987.feature.md
Labels: none

fix: Remove `ImageCanonicalDigestDict`
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
Labels: none

fix: Update `PurgeImages`
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql_models/image.py
Labels: manager

fix: Add `PurgeImagesResponse`
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql_models/image.py
Labels: manager

fix: Add proper comments
  src/ai/backend/common/dto/manager/rpc_request.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/registry.py
Labels: manager

chore: update api schema dump
  docs/manager/graphql-reference/schema.graphql
Labels: none

fix: Rename response type to `PurgeImagesPayload`
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql_models/image.py
Labels: manager

docs: Add news fragment
  changes/3951.feature.md
Labels: none

fix: Remove wrong image forget cli command
  src/ai/backend/client/cli/image.py
  src/ai/backend/client/func/image.py
Labels: client

fix: Revert unrelevant change
  src/ai/backend/client/cli/image.py
Labels: client

fix: Reflect feedbacks
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/client/func/image.py
  src/ai/backend/manager/models/gql_models/image.py
Labels: manager, client

fix: Add `--remove-from-registry`
  src/ai/backend/client/cli/image.py
Labels: client

fix: Add `--remove-from-registry` to `mgr image purge`
  src/ai/backend/manager/cli/image.py
  src/ai/backend/manager/cli/image_impl.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
Labels: manager

.github/labeler.yml:

require:db-migration:
- any: ['src/ai/backend/manager/alembic/versions/*.py']

area:docs:
- any: [
    'docs/**/*',
    'src/ai/backend/manager/api/**/*.py',
    'src/ai/backend/manager/models/gql.py',
  ]

storage-proxy:
- any: ['src/ai/backend/storage/**/*.py']

agent:
- any: [
    'src/ai/backend/agent/**/*.py',
    'src/ai/backend/kernel/**/*.py',
    'src/ai/backend/runner/**/*.py',
    'src/ai/backend/helpers/**/*.py',
  ]

manager:
- any: ['src/ai/backend/manager/**/*.py']

common:
- any: [
    'src/ai/backend/common/**/*.py',
    'src/ai/backend/plugin/**/*.py',
  ]

client:
- any: [
    'src/ai/backend/client/**/*.py',
  ]

cli:
- any: [
    'src/ai/backend/cli/**/*.py',
    'src/ai/backend/client/cli/**/*.py',
    'src/ai/backend/manager/cli/**/*.py',
    'src/ai/backend/agent/cli/**/*.py',
  ]

webserver:
- any: [
    'src/ai/backend/web/**/*.py',
  ]

webui:
- any: [
    'src/ai/backend/web/static',
  ]

installer:
- any: [
    'scripts/install-dev.sh',
    'scripts/delete-dev.sh',
    'tools/pants-plugins/**/*',
  ]
